<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agh.hydra.register.dao.CompanyRepository">

    <resultMap id="CompanyResultMap" type="com.agh.hydra.register.entity.CompanyEntity">
        <id column="company_id" property="companyId" />
        <result column="name" property="companyName" />
        <result column="address" property="address" />
        <result column="active" property="active" />
        <result column="official_language" property="language" />
    </resultMap>

    <sql id="selectColumns">
        company_id,
        name,
        address,
        case when active = 'Y' then 1 else 0 end as active,
        official_language
    </sql>


    <select id="findCompanyById" resultMap="CompanyResultMap">
        select
        <include refid="selectColumns"/>
        from hydra.company WHERE company_id=#{companyId}
    </select>

    <update id="updateCompany" parameterType="com.agh.hydra.register.entity.CompanyEntity">
       update hydra.company set
              name = #{companyName},
              address = #{address},
              <if test="active != null">
                  active = case when #{active} then 'Y' else 'N' end,
              </if>
              official_language = #{language}
          where company_id = #{companyId};

       insert into hydra.company (company_id,
                                  name,
                                  address,
        <if test="active != null">active,</if>
                                  official_language)
              select  #{companyId},
                      #{companyName},
                      #{address},
        <if test="active != null">case when #{active} then 'Y' else 'N' end as active,</if>
                      #{language}
              where not exists (select 1 from hydra.company where company_id = #{companyId});
     </update>
</mapper>