<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agh.hydra.register.dao.PrivilegeRepository">


    <select id="getPrivileges" resultType="com.agh.hydra.common.model.FunctionalPrivilege" >
        select privilege_id from hydra.privilege where user_id = #{userId}
    </select>

    <select id="hasPrivilege" resultType="boolean">
        select exists (
          select 1 from hydra.privilege
            where user_id = #{userId}
            and privilege_id = #{privilege}
        )
    </select>

    <update id="addPrivileges" >
        <foreach collection="privileges" item="privilege" index="index" open="" separator=";" close="">
            insert into hydra.privilege (user_id, privilege_id)
              select #{userId}, #{privilege}
              where not exists (
                      select 1 from hydra.privilege
                          where user_id = #{userId}
                          and privilege_id = #{privilege}
              )
        </foreach>
    </update>

    <delete id="removePrivileges" >
        <foreach collection="privileges" item="privilege" index="index" open="" separator=";" close="">
            delete from hydra.privilege
                where user_id = #{userId}
                and privilege_id = #{privilege}
        </foreach>
    </delete>
</mapper>